# Directories
.vs/
bin/
bin-int/
Engine/vendor/Glad/bin/
Engine/vendor/Glad/bin-int/
Engine/vendor/PortAudio/bin/
Engine/vendor/PortAudio/bin-int/
Build/Engine.exe
__pycache__/
Build/__pycache__/
Build/Assets/__pycache__/
Engine/vendor/Python310/__pycache__/
Engine/vendor/Python310/Lib/__pycache__/
Engine/vendor/Python310/Lib/encodings/__pycache__/

/Build/Eagle-Profile-Runtime.json
/Build/Eagle-Profile-Shutdown.json
/Build/Eagle-Profile-Startup.json

# Files
Build/Engine.exe
*.user
*.sln
*.vcproj
*.vcproj.filters
*.vcxproj
*.vcxproj.filters
*.filters
